{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contador de Dias 💖</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>💘 Ruthe & Jeffeson 💘</h1>
        <p>Meu amor, desde <strong>07/10/2023</strong></p>
        <p>Olha quanto tempo! Nós estamos juntos há:</p>
        <h2>{{ dias }} dias!</h2>
        <p>🌹 Nós começamos essa aventura já tem um tempo,
            havendo muitos momentos entre altos e baixos estamos sempre
            buscando nos conectar um com o outro e levar o nosso melhor.
            Conhecer você, compartilhar a vida com você tem sido indescritível
            pois estar com você tem sido uma das melhores experiências que eu já vivi,
            cada memoria, cada momento lindo que vivemos são memórias muito especiais
            que eu quero continuar cultivando , pois não há um tesouro tão precioso
            quanto o amor que sinto por você, os lindos momentos que pudemos dividir,
            eu tenho todo dia a chance de conhecer cada lado seu e sou muito previligiado
            por essa chance maravilhosa, pois no fim do dia eu posso dizer que a cacheadinha
            com o sorriso mais lindo, que faz um cuzcuz com qualquer coisa e fica maravilhoso,
            que faz maquiagens incriveis em menos de 15 minutos, que tem uma personalidade fortíssima e única,
            a que ama viagens e passeios, por do sol, musicas românticas, cafuné, abraços quentinhos,
            beijos na testa, a moça que é o amor da minha vida, ela... É você o meu maior tesouro.
            Eu te amo minha princesa.🌹</p>
    </div>
    <section class="gallery-section">
        <div class="gallery">
            <div class="gallery__strip__wrapper">
            <div class="gallery__strip one">
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/mGsH1SZ.jpeg"/></div>
                <div class="photo__name">15/11/2024</div>
                </div>
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/Jeq2zUc.jpeg"/></div>
                <div class="photo__name">15/06/2024</div>
                </div>
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/KDE7yXC.jpeg"/></div>
                <div class="photo__name">07/09/2024</div>
                </div>
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/mukvLc8.jpeg"/></div>
                <div class="photo__name">03/05/2025</div>
                </div>
            </div>
            </div>
            <div class="gallery__strip__wrapper">
            <div class="gallery__strip two">
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/mBbC8U0.jpeg"/></div>
                <div class="photo__name">15/11/2024</div>
                </div>
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/JqTHDn6.jpeg"/></div>
                <div class="photo__name">08/03/2025</div>
                </div>
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/yzouV0Q.jpeg"/></div>
                <div class="photo__name">15/11/2024</div>
                </div>
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/HsMGsMy.jpeg"/></div>
                <div class="photo__name">28/12/2024</div>
                </div>
            </div>
            </div>
            <div class="gallery__strip__wrapper">
            <div class="gallery__strip three">
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/96W5Pjl.jpeg"/></div>
                <div class="photo__name">15/06/2024</div>
                </div>
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/g2npPvP.jpeg"/></div>
                <div class="photo__name">16/12/2023</div>
                </div>
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/KjI62hf.jpeg"/></div>
                <div class="photo__name">15/11/2024</div>
                </div>
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/Mn2WhUh.jpeg"/></div>
                <div class="photo__name">29/12/2023</div>
                </div>
            </div>
            </div>
            <div class="gallery__strip__wrapper">
            <div class="gallery__strip four">
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/KFXgoKt.jpeg"/></div>
                <div class="photo__name">23/12/2024</div>
                </div>
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/OfzB3f8.jpeg"/></div>
                <div class="photo__name">16/03/2025</div>
                </div>
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/Fd1CXXO.jpeg"/></div>
                <div class="photo__name">15/06/2024</div>
                </div>
                <div class="photo">
                <div class="photo__image"><img src="https://i.imgur.com/p0POoMk.jpeg"/></div>
                <div class="photo__name">15/06/2024</div>
                </div>
            </div>
            </div>
        </div>       
    </section> 
</body>
</html>
